@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header-hero-wrapper {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  font-size: 18px;
}

.header-logo {
  height: 50px;
  width: auto;
}

.header-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header-links a {
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 70px;
}

.card {
  align-self: center;
  margin-right: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.hero-text {
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
}

.hero-image {
  height: auto;
  width: 500px;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  flex-wrap: wrap;
  flex: 1;
}

.cards-wrapper {
  margin: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.card {
}

.card-image {
  height: 200px;
  width: 200px;
  border: solid #3882f6;
  border-radius: 10px;
}

p {
}
